{% extends 'base.html.twig' %}

{% block title %}SearchVacancy{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Vacancies</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Request</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">View Request</a></li>
            <li class="breadcrumb-item active" aria-current="page">Status: for a candidate(s) have been started</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <table class="table" style="table-layout: fixed">
        <tbody>
        <tr>
            <th>Request#</th>
            <td>{{ vacancy.id }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ vacancy.createdAt|date('Y-m-d')}}</td>
        </tr>
        <tr>
            <th>By</th>
            <td>{{ vacancy.createdBy }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="border border-danger rounded">
            <span>Search for a candidate(s) have been started</span>
        </div>
    </div>
    <div>
        <p>
            Начните работу над вакансией, составте текст вакансии опираясь на полученные данные по вакансии,
            и разместите её на ресурсах. После размещения вакансии вставьте ссылки на те ресурсы, где Вы её разместили
            в форме ниже. Также проверьте базу кандидатов на наличие подходящих на вакансию.
        </p>
    </div>

    {{ include('vacancy_link/_form.html.twig') }}
    
{#    <div>#}
{#        <a href="{{ path('vacancy_link_index', {'id': vacancy.id}) }}">Add more</a>#}
{#    </div>#}
    <div>
        <p>
            В случае если данной заявки вы будете осуществлять hunting, у вас будет возможность добавить
             этого кандидата в следующем шаге
        </p>
    </div>
{#    <div class="text-center">#}
{#        <a class="btn btn-success" href="">#}
{#            Done#}
{#        </a>#}
{#    </div>#}

    <div class="d-flex justify-content-between">
        <div>
            assigned to:{{ vacancy.assignee }}
        </div>
        <div>
            Approved
            {{ vacancy.approveDate|date('Y-m-d') }}
            by {{ vacancy.approvedBy }}
        </div>
    </div>

{% endblock %}
