{% extends 'base.html.twig' %}

{% block title %}VacancyLink{% endblock %}

{% block body %}
    <h1>VacancyLink</h1>

    <table class="table" style="table-layout: fixed; width: 100%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vacancy_link.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ vacancy_link.link }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td style='width: 100%'>{{ vacancy_link.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vacancy_link_index', {'id': vacancy_link.id}) }}">back to list</a>

    <a href="{{ path('vacancy_link_edit', {'id': vacancy_link.id}) }}">edit</a>

    {{ include('vacancy_link/_delete_form.html.twig') }}
{% endblock %}
