{% extends 'emails/vacancy/template.twig' %}

{% block text %}
    <h1>Vacancy index</h1>
    <style>
        td {
            word-wrap: break-word;
        }
        table {
            table-layout: fixed;
        }
    </style>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Created</th>
            <th>CreatedBy</th>
            <th>Request Reason</th>
            <th>Office</th>
            <th>Department</th>
            <th>Team</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Test</th>
            <th>English</th>
            <th>Amount</th>
            <th>Bonus</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ vacancy.id }}</td>
                <td>{{ vacancy.createdAt|date('Y-m-d') }}</td>
                <td>{{ vacancy.createdBy }}</td>
                <td>{{ vacancy.reason }}</td>
                <td>{{ vacancy.office.name }}</td>
                <td>{{ vacancy.department.name }}</td>
                <td>{{ vacancy.team.name }}</td>
                <td>{{ vacancy.position }}</td>
                <td>{{ vacancy.salary }}</td>
                <td>{{ vacancy.test }}</td>
                <td>{{ vacancy.english }}</td>
                <td>{{ vacancy.amount }}</td>
                <td>{{ vacancy.bonus }}</td>
                <td>{{ vacancy.responsibilities }}</td>
                <td>{{ vacancy.requirements }}</td>
                <td>{{ vacancy.reason }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url('approved',{'id': vacancy.id}) }}">Approve</a>
    <a href="{{ url('denied',{'id': vacancy.id})}}">Deny</a>
{% endblock %}