{% extends 'emails/vacancy/template.twig' %}

{% block text %}

    <p>
        Интервью по Заявке№
            {{ candidateVacancy.vacancy.id }}
        с кандидатом {{ candidateVacancy.candidate.name }} {{ candidateVacancy.candidate.surname }}
        состоится {{ candidateVacancy.dateInterview|date('Y-m-d') }} в
        {{ candidateVacancy.dateInterview|date('H:i:s') }} в
            {{ candidateVacancy.confRoom}}.
        Если вы по какой-то причине не сможете прийти на интервью, оповестите, пожалуйста, ответственного за заявку рекрутера заранее.
    </p>

{% endblock %}