{% extends 'emails/vacancy/template.twig' %}

{% block text %}

    <p>
        Вы назначили дату выхода сотрудника  ЧП {{ candidateVacancy.candidate.name }} {{ candidateVacancy.candidate.surname }} на позицию {{ candidateVacancy.vacancy.position }}в команду
        {{ candidateVacancy.candidateManagerApproval.team.name }}, офис {{ candidateVacancy.candidateManagerApproval.team.department.office.name }}.

        Дата выхода: {{ candidateVacancy.dateStartWork|date('Y-m-d') }}
    </p>

{% endblock %}