{% extends 'emails/sdt/template.twig' %}

{% block text %} <p>Прошу игнорировать запланированный мною перерыв в работе по контракту
    с {{ oldFromDate }} по {{ oldToDate }} и учитывать новый
    с {{ newFromDate }} по {{ newToDate }}
    включительно, на {{ daysCount }} рабочих дней, за свой счёт.<br/>
    На время моего отсутствия все предоставляемые мной услуги
    заказчику
    будут оказаны в полном объеме ЧП {{ actingPeople }} по
    взаимному
    согласованию.</p>{% endblock %}
