{% extends 'base.html.twig' %}

{% block title %}Qa profile{% endblock %}

{% block body %}
    <div class="row">
        <h1>Technical tests</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Actual Points</th>
                <th>Required Points</th>
                <th>Get test</th>
                <th>Test Result</th>
            </tr>
            </thead>
            <tbody>
            {% for item in skillRows %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.actualPoints }}</td>
                    <td>{{ item.requiredPoints }}</td>
                    <td><a href="{{ item.testLink }}">Get test</a></td>
                    <td>{% if item.actualPoints >= item.requiredPoints %}
                            <span class="badge badge-success">Passed</span>
                        {% else %}
                            <span class="badge badge-secondary">Not Passed</span>
                        {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <table class="table">
            <thead>
            <tr>
                <th>Jira/TestRail:</th>
                <th>Actual Qty</th>
                <th>Required Qty</th>
            </tr>
            </thead>
            <tbody>
            {% for item in jiraHours %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td></td>
                    <td>{{ item.requiredHours }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

