{{ form_start(form) }}

{{ form_row(form.photo, {'label': 'Photo'}) }}
{{ form_row(form.name, {'label': 'Name'}) }}
{{ form_row(form.surname, {'label': 'Surname'}) }}
{{ form_row(form.currentPosition, {'label': 'Current position'}) }}
{{ form_row(form.applyingPosition, {'label': 'Applying position'}) }}
{{ form_row(form.location, {'label': 'Location'}) }}
{{ form_row(form.vacancy, {'label': 'Vacancy'}) }}
{{ form_row(form.phone, {'label': 'Phone'}) }}
{{ form_row(form.email, {'label': 'Email'}) }}
{{ form_row(form.linkedIn, {'label': 'LinkedIn'}) }}
{{ form_row(form.facebook, {'label': 'Facebook'}) }}
{{ form_row(form.salary, {'label': 'Salary'}) }}
{{ form_row(form.experience, {'label': 'Experience'}) }}
{{ form_row(form.education, {'label': 'Education'}) }}
{{ form_row(form.employment, {'label': 'Employment'}) }}
{{ form_row(form.comment, {'label': 'Comment'}) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
