{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Applying position</th>
                <th>Location</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
        <div>
            <a class="btn btn-primary" href="{{ path('candidate_new') }}">Create new</a>
        </div>
        {% for candidate in candidates %}
            <tr>
                {% if candidate.photo != null %}
                    <td>
                        <a href="{{ path('candidate_show', {'id': candidate.id}) }}">
                            <img width="200px" height="200px" class="img-fluid " src="/uploads/{{ candidate.photo }}" alt="Photo">
                        </a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('candidate_show', {'id': candidate.id}) }}">
                            <img width="200px" height="200px" class="img-fluid" src="{{ asset('images/noPhoto.png') }}" alt="Photo">
                        </a>
                    </td>
                {% endif %}

                <td><a href="{{ path('candidate_show', {'id': candidate.id}) }}">{{ candidate.name }}</a></td>
                <td><a href="{{ path('candidate_show', {'id': candidate.id}) }}">{{ candidate.surname }}</a></td>
                <td><a href="{{ path('candidate_show', {'id': candidate.id}) }}">{{ candidate.applyingPosition }}</a></td>
                <td><a href="{{ path('candidate_show', {'id': candidate.id}) }}">{{ candidate.location }}</a></td>
                <td><a href="{{ path('candidate_show', {'id': candidate.id}) }}">{{ candidate.phone }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
