{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img class="img-fluid img-thumbnail" src="/uploads/{{ candidate.photo }}" alt="Photo">
                </td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
                <td>
                    Created
                    {{ candidate.createdAt|date('Y-m-d') }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    CreatedBy
                    {% if candidate.createdBy != null %}
                        {{ candidate.createdBy.email }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ candidate.name }}</td>
                <td></td>
                {% for vacancy in vacancies %}
                    {% if vacancy.candidateStatus == 'Employed' %}
                        <td class="border border-success">
                            <span class="border border-success px-2 py-2">Employed</span>
                            Full name by contract: {{ candidate.employeeOnBoardingInfo.fullname }}
                        </td>
                    {% endif %}
                {% endfor %}
                {% for candidateLink in candidate.candidateLinks %}
                    {% if candidateLink.candidateStatus == 'Employed' %}
                        <td class="border border-success">
                            <span class="border border-success px-2 py-2">Employed</span>
                            Full name by contract: {{ candidate.employeeOnBoardingInfo.fullname }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ candidate.surname }}</td>
            </tr>
            <tr>
                <th>Applying position</th>
                <td>{{ candidate.applyingPosition }}</td>
            </tr>
            <tr>
                <th>Current position</th>
                <td>{{ candidate.currentPosition }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ candidate.location }}</td>
            </tr>
            <tr class="border border-dark">
                <th>Contact Information</th>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ candidate.phone }}</td>
            </tr>
            <tr>
                <th>
                    {{ include('recruiting/candidate/showVacancyIdForm.html.twig') }}
                </th>
            </tr>
            <tr>
                <th>Personal email</th>
                <td>{{ candidate.email }}</td>
            </tr>
            <tr>
                <th>LinkedIn</th>
                <td>{{ candidate.linkedIn }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ candidate.facebook }}</td>
            </tr>
            <tr class="border border-dark">
                <th>Additional Information</th>
            </tr>
            <tr>
                <th>Expected salary</th>
                <td>{{ candidate.salary }}</td>
            </tr>
            <tr>
                <th>Work experience(years)</th>
                <td>{{ candidate.experience }}</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>{{ candidate.education }}</td>
            </tr>
            <tr>
                <th>Current employment</th>
                <td>{{ candidate.employment }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td style="word-break: break-all">{{ candidate.comment }}</td>
            </tr>
        </tbody>
    </table>
    {% for vacancy in vacancies %}
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="alert alert-dark">Request#{{ vacancy.vacancy.id }}</div>
                <div class="alert alert-dark">assigned to: {{ vacancy.vacancy.assignee }}</div>
            </div>
            <div class="d-flex">
                <div class="alert alert-dark">Created{{ vacancy.vacancy.createdAt|date('Y-m-d') }}</div>
                <div class="alert alert-dark">by {{ vacancy.vacancy.createdBy }}</div>
            </div>
        </div>
        <div class="alert alert-dark">
            Candidate Status: {{ vacancy.candidateStatus }}
        </div>
    {% endfor %}
    {% if app.request.get('vacancy') != null %}
        <div class="pb-2">
            <a class="btn btn-info" href="{{ path('vacancy_show_candidates', {'id': app.request.get('vacancy')}) }}">back to candidates</a>
        </div>
    {% endif %}
    <div>
        <a class="btn btn-info" href="{{ path('candidate_index') }}">back to list</a>
    </div>

{% endblock %}
