{% extends 'base.html.twig' %}

{% block title %}Vacancy index{% endblock %}
{% block menu %}
    <ul class="list-group list-group-flush">
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') %}
            <li class="list-group-item"><a href="{{ path('vacancy_index') }}">Request</a></li>
        {% endif %}
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') %}
            <li class="list-group-item"><a href="#">Candidate Database</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vacancies</li>
            <li class="breadcrumb-item active" aria-current="page">Request</li>
        </ol>
    </nav>
{% endblock %}
{% block body %}
    <h1>Vacancy index</h1>
    <a href="{{ path('vacancy_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Created date</th>
            </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancies %}
            <tr>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.id }}</a></td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.position }}</a></td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.amount }}</a></td>
                <td>
                    <a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">
                    {% if vacancy.isApproved == false and vacancy.isApproved is not null %}
                        Denied
                    {% elseif vacancy.isApproved == true %}
                        <span>Approved</span>
                    {% else %}
                        <span>Waiting for approval</span>
                    {% endif %}
                    </a>
                </td>
                <td>
                    {{ vacancy.createdAt|date('Y-m-d')}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
