{% extends 'base.html.twig' %}
{% block title %}Vacancy index{% endblock %}
{% block menu %}
    <ul class="list-group list-group-flush">
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="{{ path('vacancy_index') }}">Request</a></li>
        {% endif %}
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="#">Candidate Database</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vacancies</li>
            <li class="breadcrumb-item active" aria-current="page">Request</li>
        </ol>
    </nav>
{% endblock %}
{% block body %}
    <h1>Vacancy index</h1>
    {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') %}
        <a href="{{ path('vacancy_new') }}">Create new</a>
    {% endif %}
    <table class="table" id="menu">
        <thead>
            <tr>
                <th>Request#</th>
                <th>Team</th>
                <th>Position</th>
                <th>Amount</th>
                <th>Assignee</th>
                <th>Status</th>
                {% if is_granted('ROLE_HR') %}
                    <th>Approve date</th>
                {% else %}
                    <th>Created date</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancies %}
            {% if is_granted('ROLE_HR') and vacancy.status == 'Approved' %}
                <tr>
                    <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.id }}</a></td>
                    <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.team }}</a></td>
                    <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.position }}</a></td>
                    <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.amount }}</a></td>

                    <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{% if vacancy.assignee is null %}
                                <span>no assignee</span>
                            {% else %}
                                <span>{{ vacancy.assignee.name }}</span>
                            {% endif %}</a></td>
                    <td>
                        <a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">
                            {% if vacancy.status == null %}
                                <span>Waiting for approval</span>
                            {% else %}
                                {{ vacancy.status }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <span>
                            {% if vacancy.expiredTime >= 17 %}
                                <span>Expired in Status</span>
                             {% elseif vacancy.expiredTime >= 12 %}
                                <span>Soon to expire</span>
                            {% endif %}
                        </span>
                        <a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.approveDate|date('Y-m-d') }}</a>
                    </td>
                </tr>
            {% elseif is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER')%}
            <tr>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.id }}</a></td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.team }}</a></td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.position }}</a></td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.amount }}</a></td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{% if vacancy.assignee is null %}
                            <span>no assignee</span>
                        {% else %}
                            <span>{{ vacancy.assignee.name }}</span>
                        {% endif %}</a></td>
                <td>
                    <a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">
                    {% if vacancy.status == null %}
                        <span>Waiting for approval</span>
                    {% else %}
                        {{ vacancy.status }}
                    {% endif %}
                    </a>
                    <span>
                            {% if vacancy.expiredTime >= 17 %}
                                <span>Expired in Status</span>
                             {% elseif vacancy.expiredTime >= 12 %}
                                <span>Soon to expire</span>
                            {% endif %}
                        </span>
                </td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.createdAt|date('Y-m-d') }}</a></td>
            </tr>
            {% elseif is_granted('ROLE_RECRUITER') and vacancy.status != 'Denied' and vacancy.status != null %}
                <tr>
                    <td><a class="d-block" href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">{{ vacancy.id }}</a></td>
                    <td><a class="d-block" href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">{{ vacancy.team }}</a></td>
                    <td><a class="d-block" href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">{{ vacancy.position }}</a></td>
                    <td><a class="d-block" href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">{{ vacancy.amount }}</a></td>
                    <td><a class="d-block" href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">
                            {% if vacancy.assignee is null %}
                                <span>no assignee</span>
                            {% else %}
                                <span>{{ vacancy.assignee.name }}</span>
                            {% endif %}</a></td>
                    <td>
                        <a class="d-block" href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">
                            {% if vacancy.status == null %}
                                <span>Waiting for approval</span>
                            {% else %}
                                {{ vacancy.status }}
                            {% endif %}
                        </a>
                        <span>
                            {% if vacancy.expiredTime >= 17 %}
                                <span>Expired in Status</span>
                             {% elseif vacancy.expiredTime >= 12 %}
                                <span>Soon to expire</span>
                            {% endif %}
                        </span>
                    </td>
                    <td><a class="d-block" href="{{ path('vacancy_show_recruiter', {'id': vacancy.id}) }}">{{ vacancy.createdAt|date('Y-m-d') }}</a></td>
                </tr>
            {% else %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
