{% extends 'base.html.twig' %}

{% block title %}vacancyRequest index{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('default') }}">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">vacancy</li>
        <li class="breadcrumb-item active" aria-current="page">Request</li>
    </ol>
    </nav>{% endblock %}
{% block menu %}

        <ul class="list-group list-group-flush">
            {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') %}
                <li class="list-group-item"><a href="{{ path('vacancy_index') }}">Requests</a></li>
            {% endif %}
            {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') %}
                <li class="list-group-item"><a href="{{ path('candidate_index') }}">Candidates database</a></li>
            {% endif %}
        </ul>

{% endblock %}


{% block body %}
    <h1>Vacancy Request</h1>
    <a href="{{ path('vacancy_new') }}">Create request</a>
    {% if vacancies is empty %}
        <p>
            "Sorry..you don't have any active requests"
        </p>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Office</th>
                <th>Department</th>
                <th>Team</th>
                <th>Position</th>
                <th>Amount</th>
                <th>RequestReason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancies %}
            <tr>
                <td>{{ vacancy.id }}</td>
                <td>{{ vacancy.office }}</td>
                <td>{{ vacancy.department }}</td>
                <td>{{ vacancy.team }}</td>
                <td>{{ vacancy.position }}</td>
                <td>{{ vacancy.amount }}</td>
                <td>{{ vacancy.requestReason }}</td>
                <td>
                    <a href="{{ path('vacancy_show', {'id': vacancy.id}) }}">show</a>
                    <a href="{{ path('vacancy_edit', {'id': vacancy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
