{% extends 'base.html.twig' %}

{% block title %}Vacancy index{% endblock %}
{% block menu %}
    <ul class="list-group list-group-flush">
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="{{ path('vacancy_index') }}">Request</a></li>
        {% endif %}
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="#">Candidate Database</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vacancies</li>
            <li class="breadcrumb-item active" aria-current="page">Request</li>
        </ol>
    </nav>
{% endblock %}
{% block body %}
    <h1>Vacancy index</h1>
    <a href="{{ path('vacancy_new') }}">Create new</a>
    <table class="table" id="menu">
        <thead>
            <tr>
                <th>Request#</th>
{#                <th>Team</th>#}
                <th>Position</th>
                <th>Amount</th>
{#                <th>Assignee</th>#}
                <th>Approve date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancies %}
{#            {% if vacancy.isApproved == false %}#}
{#            {% else %}#}
            <tr>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.id }}</a></td>
{#                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.team.name }}</a></td>#}
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.position }}</a></td>
                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.amount }}</a></td>
{#                <td><a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{% if vacancy.assignee is null %}#}
{#                            <span>no assignee</span>#}
{#                        {% else %}#}
{#                            <span>{{ vacancy.assignee }}</span>#}
{#                        {% endif %}</a></td>#}
                <td>
                    <a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">
                    {% if vacancy.isApproved == false and vacancy.isApproved is not null %}
                        Denied
                    {% elseif vacancy.isApproved == true %}
                        <span>Approved</span>
                    {% else %}
                        <span>Waiting for approval</span>
                    {% endif %}
                    </a>
                </td>
                <td>
                    <a class="d-block" href="{{ path('vacancy_show', {'id': vacancy.id}) }}">{{ vacancy.approveDate|date('Y-m-d')}}</a>
                    {% if date(vacancy.approveDate|date('Y-m-d')) < date('+1days') %}
                    {% else %}
                        <span>expired in status</span>
                    {% endif %}
                </td>
            </tr>
{#            {% endif %}#}
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
