{% extends 'base.html.twig' %}

{% block title %}Vacancy{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Vacancies</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Request</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Request</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h1>Vacancy</h1>
    {% if is_granted('ROLE_HR') and is_granted('ROLE_VACANCY_VIEWER_USER') %}
        {{ include('vacancy/recruiterForm.html.twig') }}
    {% endif %}
    {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') and is_granted('ROLE_VACANCY_VIEWER_USER') %}
        {{ include('vacancy/userForm.html.twig') }}
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Request#</th>
                <td>{{ vacancy.id }}</td>
            </tr>
            <tr>
                <th>Office</th>
                <td>{{ vacancy.office.name }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ vacancy.department.name }}</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>{{ vacancy.team.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ vacancy.position }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ vacancy.salary }}</td>
            </tr>
            <tr>
                <th>Test</th>
                <td>{{ vacancy.test }}</td>
            </tr>
            <tr>
                <th>English</th>
                <td>{{ vacancy.english }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ vacancy.amount }}</td>
            </tr>
            <tr>
                <th>Bonus</th>
                <td>{{ vacancy.bonus }}</td>
            </tr>
            {% if vacancy.isApproved == false and vacancy.isApproved is not null %}
                <tr>
                    <th>The reason your request have been denied</th>
                    <td>{{ vacancy.reasonDenied }}</td>
                </tr>
                <tr>
                    <th>Request reason</th>
                    <td>{{ vacancy.reason }}</td>
                </tr>
            {% else %}
            <tr>
                <th>Responsibilities</th>
                <td>{{ vacancy.responsibilities }}</td>
            </tr>
            <tr>
                <th>Requirements</th>
                <td>{{ vacancy.requirements }}</td>
            </tr>
            <tr>
                <th>Plus</th>
                <td>{{ vacancy.plus }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Created</th>
                <td>{{ vacancy.createdAt|date('Y-m-d')}}</td>
                <td>
                    {% if expiredTime >= 17 %}
                       <p><span>Expired in Status</span></p>
                     {% elseif expiredTime >= 12 %}
                        <p><span>Soon to expire</span></p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>By</th>
                <td>{{ vacancy.createdBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vacancy_index') }}">back to list</a>

    <br>
    {% if vacancy.assignee is null %}
        <span>no assignee</span>
    {% else %}
        <span>{{ vacancy.assignee.name }}</span>
    {% endif %}

    {% if vacancy.isApproved is null %}
       <p>Status:<span>Waiting for approval</span></p>

    {% elseif vacancy.isApproved == true and vacancy.assignee is null %}
        <p>Status: <span>no assignee</span></p>
    {% elseif vacancy.isApproved == false and vacancy.isApproved is not null %}
        <p>Status: <span>Request denied</span></p>
    {% elseif vacancy.isApproved == true and vacancy.assignee is not null %}
        <p>Status: <span>Issue have been assigned</span></p>
    {% endif %}

    {% if vacancy.isApproved == false and vacancy.isApproved is not null %}
        {{ include('vacancy/_delete_form.html.twig') }}
        Denied
    {% elseif vacancy.isApproved == true %}
        <span>Approved {{ vacancy.approveDate|date('Y-m-d') }}</span>
    {% else %}
        <span>Waiting for approval</span>
    {% endif %}

{% endblock %}
