{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h2>Make rise</h2>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Make rise</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="{{ path('php_developer_rise_request_index') }}" class="card-link">Details</a>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <h2>Required tests</h2>
    </div>
    <br/>
    <div class="row">
        {% for test in tests %}
            <div class="col-3">
                <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title">{{ test.test.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text"></p>
                        {#<a href="#" class="card-link">Another link</a>#}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Passed: {% if test.passed %}<span
                                    class="badge badge-success">Passed</span>{% else %}<span
                                    class="badge badge-secondary">Not Passed</span>{% endif %}</li>

                    </ul>
                    <div class="card-body">
                        <a href="{{ test.test.link }}" class="card-link">Get Test</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <hr>
    <div class="row">
        <h2>Effective time required</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">All effective time</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Это сколько эффективного времени нужно получиь что-бы получить повышение</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Required time: <b>{{ effectiveTime.requiredTime }}</b></li>
                        <li class="list-group-item">Spend time:
                            <b>{{ effectiveTime.spendEffectiveTime|round(2, 'floor') }}</b>
                        </li>
                        <li class="list-group-item">
                            Passed: {% if effectiveTime.passed %}<span
                                    class="badge badge-success">Passed</span>{% else %}<span
                                    class="badge badge-secondary">Not Passed</span>{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

