{% extends 'emails/sdt/template.twig' %}

{% block text %} <p>На данный момент у вас не хватает {{ time }} часов с {{ toDate }} по {{ fromDate }}  . Дологируйте, пожалуйста, Ваше время

    Проверить актуальное количество залогированного времени вы можете <a href="{{ url('profile') }}">тут</a>

    Подсчёт зарплат будет производиться {{ salaryReportDate }}</p>{% endblock %}