<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    {% block script %}
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
        {#<link rel="stylesheet"#}
        {#href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css">#}
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Nexteum</a>
    <ul class="navbar-nav px-3">
        {% if is_granted('ROLE_USER') == false %}
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('default') }}">Log in</a>
            </li>
            {% else %}
            <li class="nav-item text-nowrap">
                {% if app.user.userInfo != null  %}
                    {% if app.user.userInfo.photo is not null %}
                        <td>
                            <a href="{{ path('user_show', {'id': app.user.userInfo.id}) }}">
                                <img width="50px" height="50px" class="img-fluid " src="/uploads/{{ app.user.userInfo.photo }}" alt="Photo">
                                {{ app.user.email }}
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('user_show', {'id': app.user.id}) }}">
                                <img width="50px" height="50px" class="img-fluid" src="{{ asset('images/noPhoto.png') }}" alt="Photo">
                                {{ app.user.email }}
                            </a>
                        </td>
                    {% endif %}
                {% else %}
                    <td>
                        <a href="{{ path('user_show', {'id': app.user.id}) }}">
                            <img width="50px" height="50px" class="img-fluid" src="{{ asset('images/noPhoto.png') }}" alt="Photo">
                            {{ app.user.email }}
                        </a>
                    </td>
                {% endif %}
            </li>
        {% endif %}
    </ul>
</nav>
<div class="container" style="padding-top: 48px">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-2">
            <h1>Menu:</h1>
            {% block menu %}
                <ul class="list-group list-group-flush">
                    {% if is_granted('ROLE_SDT_REQUEST') %}
                        <li class="list-group-item"><a href="{{ path('sdt_index') }}">SDT request</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
                        <li class="list-group-item"><a href="{{ path('vacancy_index') }}">Vacancies</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="list-group-item"><a href="{{ path('profile') }}">Profile</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_PHP_MANAGER') %}
                        <li class="list-group-item"><a href="{{ path('php_manager') }}">Manage team</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ACCOUNT_MANAGER') %}
                        <li class="list-group-item"><a href="{{ path('user_index') }}">Users</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGE_HOLIDAYS') %}
                        <li class="list-group-item"><a href="{{ path('holiday_index') }}">Holidays</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_VIEW_SALARY_REPORT') %}
                        <li class="list-group-item"><a href="{{ path('salary_report_info_index') }}">Salary report</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                    <li class="list-group-item"><a href="{{ path('monthly_sdt_index') }}">SDT monthly</a>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE_MONTHLY_SDT') %}
                    <li class="list-group-item"><a href="{{ path('sdt_archive_index') }}">SDT Archive</a>
                        {% endif %}
                        {% if is_granted('ROLE_PHP_MANAGER') %}
                    <li class="list-group-item"><a href="{{ path('salary_report_info_index') }}">Salary Report</a>
                        {% endif %}
                </ul>
            {% endblock %}
        </div>
        <div class="col-10">
            {% block breadcrumbs %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
    </div>

    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
