{% extends 'base.html.twig' %}

{% block title %}Vacancy{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Vacancies</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Request</a></li>
            <li class="breadcrumb-item"><a href="{{ path('vacancy_show_candidates', {'id': app.request.get('id')}) }}">View Request</a></li>
            <li class="breadcrumb-item">Interview</li>
        </ol>
    </nav
{% endblock %}
{% block menu %}
    <ul class="list-group list-group-flush">
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="{{ path('vacancy_index') }}">Request</a></li>
        {% endif %}
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="{{ path('candidate_index') }}">Candidate Database</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block body %}
    <div>
        {{ include('recruiting/vacancy/showRecruiter/recruiterAfterInterview/notSuitableSalaryForm.html.twig') }}
    </div>
{% endblock %}