{% extends 'base.html.twig' %}

{% block title %}Vacancy{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Vacancies</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Requests</a></li>
        <li class="breadcrumb-item active" aria-current="page">Vacancy History Request #{{ vacancy.id }}</li>
    </ol>
</nav>
{% endblock %}
{% block body %}
    <table class="table" style="table-layout: fixed">
        <tbody>
        <tr>
            <th>Request#</th>
            <td>{{ vacancy.id }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ vacancy.createdAt|date('Y-m-d')}}</td>
        </tr>
        <tr>
            <th>By</th>
            <td>{{ vacancy.createdBy }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <p class="alert alert-danger">
            Status: {{ vacancy.status }}
        </p>
    </div>
    <section class="border border-warning px-3 py-3">
        <div class="px-2">
            <div class="border border-warning alert alert-warning d-flex justify-content-between">
                    Status: Search for a candidate(s) have been started
                <div>
                    Updated: {{ vacancy.updatedDate|date('Y-m-d') }}
                </div>
            </div>
        </div>
        {% for link in links %}
            <div>
                Link to vacancy
                <p class="border border-warning rounded px-2 py-1">
                    {{ link.link }}
                </p>
            </div>
            <div>
                Recommendation email text
                <p class="border border-warning rounded px-2 py-3" style="word-break: break-all">
                    {{ link.letterText }}
                </p>
            </div>
        {% endfor %}
        <div>
            <a class="btn btn-primary" href="{{ path('vacancy_link_index', {'id': vacancy.id, 'edit':'e'}) }}">Edit</a>
        </div>
    </section>

    <section class="border border-warning px-3 py-3 mt-3">
        <div class="px-2">
            <div class="border border-warning alert alert-warning d-flex justify-content-between">
                Status: CV Received
                <div>
                    Updated: {{ vacancy.updatedDate|date('Y-m-d') }}
                </div>
            </div>
        </div>

        <div class="alert alert-dark" style="border-bottom: 2px solid black">
            CVs Received from Vacancy
        </div>
            {% for links in vacancy.vacancyLinks %}
                {% for candidate in links.candidateLinks  %}
                    {% if candidate.candidateFrom == 'vacancy' %}
                        <div>
                            Link to vacancy
                            <p class="border border-warning rounded px-2 py-1">
                                {{ candidate.vacancyLink.link }}
                            </p>
                        </div>
                        <div>
                            Candidate Added to vacancy
                        </div>
                        <div class="d-flex mb-2 mt-2" style="border-bottom: 2px solid grey">
                            <div>
                                {% if candidate.candidate.photo is null %}
                                    <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                        <img width="150px" height="150px" class="img-fluid rounded-circle" src="{{ asset('images/noPhoto.png') }}" alt="photo">
                                    </a>
                                {% else %}
                                    <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                        <img width="150px" height="150px" class="img-fluid rounded-circle" src="/uploads/{{ candidate.candidate.photo }}" alt="photo">
                                    </a>
                                {% endif %}
                            </div>
                            <div>
                                <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <div class="d-flex">
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.name }} {{ candidate.candidate.surname }}
                                        </div>
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.position }}
                                        </div>
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.location }}
                                        </div>
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.phone }}
                                        </div>
                                    </div>
                                </a>
                                <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <div class="d-flex mt-3">
                                        <div class="border border-primary px-2 py-1 mx-2">
                                            Request Status: {{ vacancy.status }}
                                        </div>
                                        <div class="border border-primary px-2 py-1 mx-2">
                                            Candidate Status: {{ candidate.candidateStatus }}
                                        </div>
                                        <div class="border border-primary px-2 py-1 mx-2">
                                            Updated: {{ candidate.candidate.updatedDate|date('Y-m-d')  }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="px-2 py-1 mx-2">
                                    Candidate Status is changed to:
                                </div>
                                <div class="border border-info px-2 py-1 mx-2">
                                    Candidate Status: CV Received
                                </div>
                            </div>
                            <div>
                                <div class="px-2 py-1 mx-2">
                                    Candidate CV Added
                                </div>
                                <div class="border border-info px-2 py-1 mx-2 mb-2">
                                    {% if candidate.receivedCv is not null %}
                                        <a class="py-1" href="/uploads/{{ candidate.receivedCv }}">
                                            Link to CV
                                        </a>
                                    {% endif %}
                                    {% if candidate.candidate.linkToCv is not null %}
                                        <a class="py-1" href="{{ candidate.candidate.linkToCv }}">
                                            Link to CV
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-primary" href="{{ path('vacancy_show_search_candidate', {'id': vacancy.id}) }}">Edit</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="alert alert-dark" style="border-bottom: 2px solid black">
                CVs Received from Hunting
            </div>

        {% for candidate in vacancy.candidateVacancies %}
            {% if candidate.candidateFrom == 'hunting' %}
                <div>
                    Link to profile
                </div>
                {% if candidate.linkToProfile1 != null %}
                    <div class="border border-warning px-2 py-1 mx-2">
                        {{ candidate.linkToProfile1 }}
                    </div>
                {% endif %}
                {% if candidate.linkToProfile2 != null %}
                    <div class="border border-warning px-2 py-1 mx-2">
                        {{ candidate.linkToProfile2 }}
                    </div>
                {% endif %}
                {% if candidate.linkToProfile3 != null %}
                    <div class="border border-warning px-2 py-1 mx-2">
                        {{ candidate.linkToProfile3 }}
                    </div>
                {% endif %}
                {% if candidate.linkToProfile4 != null%}
                    <div class="border border-warning px-2 py-1 mx-2">
                        {{ candidate.linkToProfile4 }}
                    </div>
                {% endif %}

                <div>
                    Candidate Added to vacancy
                </div>
                <div class="d-flex mb-2 pb-2" style="border-bottom: 2px solid grey">
                    <div>
                        {% if candidate.candidate.photo is null %}
                            <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                <img width="150px" height="150px" class="img-fluid rounded-circle" src="{{ asset('images/noPhoto.png') }}" alt="photo">
                            </a>
                        {% else %}
                            <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                <img width="150px" height="150px" class="img-fluid rounded-circle" src="/uploads/{{ candidate.candidate.photo }}" alt="photo">
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                            <div class="d-flex">
                                <div class="border border-warning px-2 py-1 mx-2">
                                    {{ candidate.candidate.name }} {{ candidate.candidate.surname }}
                                </div>
                                <div class="border border-warning px-2 py-1 mx-2">
                                    {{ candidate.candidate.position }}
                                </div>
                                <div class="border border-warning px-2 py-1 mx-2">
                                    {{ candidate.candidate.location }}
                                </div>
                                <div class="border border-warning px-2 py-1 mx-2">
                                    {{ candidate.candidate.phone }}
                                </div>
                            </div>
                        </a>
                        <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                            <div class="d-flex mt-3">
                                <div class="border border-primary px-2 py-1 mx-2">
                                    Request Status: {{ vacancy.status }}
                                </div>
                                <div class="border border-primary px-2 py-1 mx-2">
                                    Candidate Status: {{ candidate.candidateStatus }}
                                </div>
                                <div class="border border-primary px-2 py-1 mx-2">
                                    Updated: {{ candidate.candidate.updatedDate|date('Y-m-d')  }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="px-2 py-1 mx-2">
                            Candidate Status is changed to:
                        </div>
                        <div class="border border-info px-2 py-1 mx-2">
                            Candidate Status: CV Received
                        </div>
                    </div>

                    <div>
                        <div class="px-2 py-1 mx-2">
                            Candidate CV Added
                        </div>
                        <div class="border border-info px-2 py-1 mx-2 mb-2">
                            {% if candidate.receivedCv is not null %}
                                <a class="py-1" href="/uploads/{{ candidate.receivedCv }}">
                                    Link to CV
                                </a>
                            {% endif %}
                            {% if candidate.candidate.linkToCv is not null %}
                                <a class="py-1" href="{{ candidate.candidate.linkToCv }}">
                                    Link to CV
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" href="{{ path('vacancy_show_search_candidate', {'id': vacancy.id}) }}">Edit</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

            <div class="alert alert-dark" style="border-bottom: 2px solid black">
                CVs Received from Recommendation
            </div>

            {% for links in vacancy.vacancyLinks %}
                {% for candidate in links.candidateLinks  %}
                    <div>
                        Link to vacancy
                        <p class="border border-warning rounded px-2 py-1">
                            {{ candidate.vacancyLink.link }}
                        </p>
                    </div>
                    {% if candidate.candidateFrom == 'recommendation' %}
                        <div>
                            Recommendation email text
                        </div>
                        {% for link in links %}
                            <div class="border border-warning px-2 py-1 mx-2">
                                {{ link.letterText }}
                            </div>
                        {% endfor %}
                        <div>
                            Candidate Added to vacancy
                        </div>
                        <div class="d-flex mb-2 pb-2" style="border-bottom: 2px solid grey">
                            <div>
                                {% if candidate.candidate.photo is null %}
                                    <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                        <img width="150px" height="150px" class="img-fluid rounded-circle" src="{{ asset('images/noPhoto.png') }}" alt="photo">
                                    </a>
                                {% else %}
                                    <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                        <img width="150px" height="150px" class="img-fluid rounded-circle" src="/uploads/{{ candidate.candidate.photo }}" alt="photo">
                                    </a>
                                {% endif %}
                            </div>
                            <div>
                                <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <div class="d-flex">
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.name }} {{ candidate.candidate.surname }}
                                        </div>
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.position }}
                                        </div>
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.location }}
                                        </div>
                                        <div class="border border-warning px-2 py-1 mx-2">
                                            {{ candidate.candidate.phone }}
                                        </div>
                                    </div>
                                </a>
                                <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <div class="d-flex mt-3">
                                        <div class="border border-primary px-2 py-1 mx-2">
                                            Request Status: {{ vacancy.status }}
                                        </div>
                                        <div class="border border-primary px-2 py-1 mx-2">
                                            Candidate Status: {{ candidate.candidateStatus }}
                                        </div>
                                        <div class="border border-primary px-2 py-1 mx-2">
                                            Updated: {{ candidate.candidate.updatedDate|date('Y-m-d')  }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="px-2 py-1 mx-2">
                                    Candidate Status is changed to:
                                </div>
                                <div class="border border-info px-2 py-1 mx-2">
                                    Candidate Status: CV Received
                                </div>
                            </div>
                            <div>
                                <div class="px-2 py-1 mx-2">
                                    Candidate CV Added
                                </div>
                                <div class="border border-info px-2 py-1 mx-2 mb-2">
                                    {% if candidate.receivedCv is not null %}
                                        <a class="py-1" href="/uploads/{{ candidate.receivedCv }}">
                                            Link to CV
                                        </a>
                                    {% endif %}
                                    {% if candidate.candidate.linkToCv is not null %}
                                        <a class="py-1" href="{{ candidate.candidate.linkToCv }}">
                                            Link to CV
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-primary" href="{{ path('vacancy_show_search_candidate', {'id': vacancy.id}) }}">Edit</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
    </section>

    <section class="border border-warning px-3 py-3 mt-3 mb-2">
        <div class="px-2">
            <div class="border border-warning alert alert-warning d-flex justify-content-between">
                Status: Candidate Interest is checked
                <div>
                    Updated: {{ vacancy.updatedDate|date('Y-m-d') }}
                </div>
            </div>
        </div>
        <div class="alert alert-dark" style="border-bottom: 2px solid black">
            Candidate interested in Vacancy
        </div>
        <div>
            Candidate Interested is checked
        </div>
    {% for candidate in vacancy.candidateVacancies %}
        {% if candidate.candidateStatus != 'CV Received' and  candidate.candidateStatus != 'Closed'%}
        <div class="d-flex mb-2 pb-2" style="border-bottom: 2px solid grey">
            <div>
                {% if candidate.candidate.photo is null %}
                    <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                        <img width="150px" height="150px" class="img-fluid rounded-circle" src="{{ asset('images/noPhoto.png') }}" alt="photo">
                    </a>
                {% else %}
                    <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                        <img width="150px" height="150px" class="img-fluid rounded-circle" src="/uploads/{{ candidate.candidate.photo }}" alt="photo">
                    </a>
                {% endif %}
            </div>
            <div>
                <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                    <div class="d-flex">
                        <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.name }} {{ candidate.candidate.surname }}
                        </div>
                        <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.position }}
                        </div>
                        <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.location }}
                        </div>
                        <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.phone }}
                        </div>
                    </div>
                </a>
                <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                    <div class="d-flex mt-3">
                        <div class="border border-primary px-2 py-1 mx-2">
                            Request Status: {{ vacancy.status }}
                        </div>
                        <div class="border border-primary px-2 py-1 mx-2">
                            Candidate Status: {{ candidate.candidateStatus }}
                        </div>
                        <div class="border border-primary px-2 py-1 mx-2">
                            Updated: {{ candidate.candidate.updatedDate|date('Y-m-d')  }}
                        </div>
                    </div>
                </a>
                <div class="mb-2">
                    <div class="px-2 py-1 mx-2">
                        Comment from Recruiter
                    </div>
                    <div class="border border-primary px-2 py-1 mx-2" style="word-break: break-all">
                        {{ candidate.commentInterest }}
                    </div>
                </div>
                <div>
                    <div class="px-2 py-1 mx-2">
                        Candidate Status is changed to:
                    </div>
                    <div class="border border-info px-2 py-1 mx-2">
                        Candidate Status: Candidate is interested in vacancy
                    </div>
                </div>
                <div class="pt-2">
                    <a class="btn btn-primary" href="{{ path('vacancy_show_cv_received', {'id': vacancy.id,'edit':'e'}) }}">Edit</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
        {% for links in vacancy.vacancyLinks %}
            {% for candidate in links.candidateLinks  %}
                {% if candidate.candidateStatus != 'CV Received' and  candidate.candidateStatus != 'Closed' %}
                    <div class="d-flex mb-2 pb-2" style="border-bottom: 2px solid grey">
                        <div>
                            {% if candidate.candidate.photo is null %}
                                <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <img width="150px" height="150px" class="img-fluid rounded-circle" src="{{ asset('images/noPhoto.png') }}" alt="photo">
                                </a>
                            {% else %}
                                <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <img width="150px" height="150px" class="img-fluid rounded-circle" src="/uploads/{{ candidate.candidate.photo }}" alt="photo">
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                <div class="d-flex">
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.name }} {{ candidate.candidate.surname }}
                                    </div>
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.position }}
                                    </div>
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.location }}
                                    </div>
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.phone }}
                                    </div>
                                </div>
                            </a>
                            <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                <div class="d-flex mt-3">
                                    <div class="border border-primary px-2 py-1 mx-2">
                                        Request Status: {{ vacancy.status }}
                                    </div>
                                    <div class="border border-primary px-2 py-1 mx-2">
                                        Candidate Status: {{ candidate.candidateStatus }}
                                    </div>
                                    <div class="border border-primary px-2 py-1 mx-2">
                                        Updated: {{ candidate.candidate.updatedDate|date('Y-m-d')  }}
                                    </div>
                                </div>
                            </a>
                            <div class="mb-2">
                                <div class="px-2 py-1 mx-2">
                                    Comment from Recruiter
                                </div>
                                <div class="border border-primary px-2 py-1 mx-2" style="word-break: break-all">
                                    {{ candidate.commentInterest }}
                                </div>
                            </div>
                            <div>
                                <div class="px-2 py-1 mx-2">
                                    Candidate Status is changed to:
                                </div>
                                <div class="border border-info px-2 py-1 mx-2">
                                    Candidate Status: Candidate is interested in vacancy
                                </div>
                            </div>
                            <div class="pt-2">
                                <a class="btn btn-primary" href="{{ path('vacancy_show_cv_received', {'id': vacancy.id,'edit':'e'}) }}">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="alert alert-dark" style="border-bottom: 2px solid black">
            Candidate Not interested in Vacancy
        </div>
        <div>
            Candidate Interested is checked
        </div>
    {% for candidate in vacancy.candidateVacancies %}
        {% if candidate.candidateStatus == 'Closed' %}
            <div class="d-flex mb-2 pb-2" style="border-bottom: 2px solid grey">
                <div>
                    {% if candidate.candidate.photo is null %}
                        <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                            <img width="150px" height="150px" class="rounded-circle" src="{{ asset('images/noPhoto.png') }}" alt="photo">
                        </a>
                    {% else %}
                        <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                            <img width="150px" height="150px" class="img-fluid rounded-circle" src="/uploads/{{ candidate.candidate.photo }}" alt="photo">
                        </a>
                    {% endif %}
                </div>
                <div>
                    <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                        <div class="d-flex">
                            <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.name }} {{ candidate.candidate.surname }}
                            </div>
                            <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.position }}
                            </div>
                            <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.location }}
                            </div>
                            <div class="border border-warning px-2 py-1 mx-2">
                                {{ candidate.candidate.phone }}
                            </div>
                        </div>
                    </a>
                    <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                        <div class="d-flex mt-3">
                            <div class="border border-primary px-2 py-1 mx-2">
                                Request Status: {{ vacancy.status }}
                            </div>
                            <div class="border border-primary px-2 py-1 mx-2">
                                Candidate Status: {{ candidate.candidateStatus }}
                            </div>
                            <div class="border border-primary px-2 py-1 mx-2">
                                Updated: {{ candidate.candidate.updatedDate|date('Y-m-d')  }}
                            </div>
                        </div>
                    </a>
                    <div>
                        <div class="px-2 py-1 mx-2">
                            Comment from Recruiter
                        </div>
                        <div class="border border-primary px-2 py-1 mx-2" style="word-break: break-all">
                            {{ candidate.commentInterest }}
                        </div>
                    </div>
                    <div>
                        <div class="px-2 py-1 mx-2" style="word-break: break-all">
                            Candidate Denial Reason
                        </div>
                        <div class="border border-primary px-2 py-1 mx-2">
                            {{ candidate.denialReason }}
                        </div>
                    </div>
                    <div>
                        <div class="px-2 py-1 mx-2">
                            Candidate Status is changed to:
                        </div>
                        <div class="border border-info px-2 py-1 mx-2">
                            Candidate Status: Closed
                        </div>
                    </div>
                    <div class="pt-2">
                        <a class="btn btn-primary" href="{{ path('vacancy_show_cv_received', {'id': vacancy.id,'edit':'e'}) }}">Edit</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
        {% for links in vacancy.vacancyLinks %}
            {% for candidate in links.candidateLinks  %}
                {% if candidate.candidateStatus == 'Closed' %}

                    <div class="d-flex mb-2 pb-2" style="border-bottom: 2px solid grey">
                        <div>
                            {% if candidate.candidate.photo is null %}
                                <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <img width="150px" height="150px" class="rounded-circle" src="{{ asset('images/noPhoto.png') }}" alt="photo">
                                </a>
                            {% else %}
                                <a href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                    <img width="150px" height="150px" class="img-fluid rounded-circle" src="/uploads/{{ candidate.candidate.photo }}" alt="photo">
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                <div class="d-flex">
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.name }} {{ candidate.candidate.surname }}
                                    </div>
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.position }}
                                    </div>
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.location }}
                                    </div>
                                    <div class="border border-warning px-2 py-1 mx-2">
                                        {{ candidate.candidate.phone }}
                                    </div>
                                </div>
                            </a>
                            <a class="d-block" href="{{ path('candidate_show', {'id': candidate.candidate.id}) }}">
                                <div class="d-flex mt-3">
                                    <div class="border border-primary px-2 py-1 mx-2">
                                        Request Status: {{ vacancy.status }}
                                    </div>
                                    <div class="border border-primary px-2 py-1 mx-2">
                                        Candidate Status: {{ candidate.candidateStatus }}
                                    </div>
                                    <div class="border border-primary px-2 py-1 mx-2">
                                        Updated: {{ candidate.candidate.updatedDate|date('Y-m-d')  }}
                                    </div>
                                </div>
                            </a>
                            <div>
                                <div class="px-2 py-1 mx-2">
                                    Comment from Recruiter
                                </div>
                                <div class="border border-primary px-2 py-1 mx-2" style="word-break: break-all">
                                    {{ candidate.commentInterest }}
                                </div>
                            </div>
                            <div>
                                <div class="px-2 py-1 mx-2" style="word-break: break-all">
                                    Candidate Denial Reason
                                </div>
                                <div class="border border-primary px-2 py-1 mx-2">
                                    {{ candidate.denialReason }}
                                </div>
                            </div>
                            <div>
                                <div class="px-2 py-1 mx-2">
                                    Candidate Status is changed to:
                                </div>
                                <div class="border border-info px-2 py-1 mx-2">
                                    Candidate Status: Closed
                                </div>
                            </div>
                            <div class="pt-2">
                                <a class="btn btn-primary" href="{{ path('vacancy_show_cv_received', {'id': vacancy.id,'edit':'e'}) }}">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>
    <footer>
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('vacancy_index') }}">
                Back to requests
            </a>
        </div>
        <div class="navbar bg-light d-flex justify-content-between">
            <div class="badge badge-success">
                assigned to:{{ vacancy.assignee }}
            </div>
            <div>
                <span class="badge badge-success">Approved</span>
                {{ vacancy.approveDate|date('Y-m-d') }}
                by {{ vacancy.approvedBy }}
            </div>
        </div>
    </footer>
{% endblock %}
