{% extends 'base.html.twig' %}

{% block title %}Vacancy{% endblock %}

{% block menu %}
    <ul class="list-group list-group-flush">
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="{{ path('vacancy_index') }}">Request</a></li>
        {% endif %}
        {% if is_granted('ROLE_RECRUITING_DEPARTMENT_MANAGER') or is_granted('ROLE_VACANCY_VIEWER_USER') %}
            <li class="list-group-item"><a href="{{ path('candidate_index') }}">Candidate Database</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Vacancies</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Your Requests</a></li>
            <li class="breadcrumb-item active" aria-current="page">Work on Issue - Step
                {% if vacancy.status == 'Search for a candidate(s) have been started' %}
                    2
                {% elseif vacancy.status == 'CV Received'%}
                    3
                {% elseif vacancy.status == 'Candidates Interest is checked'%}
                    4
                {% else %}
                    1
                {% endif %}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <table class="table" style="table-layout: fixed">
        <tbody>
        <tr>
            <th>Request#</th>
            <td>{{ vacancy.id }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ vacancy.createdAt|date('Y-m-d')}}</td>
        </tr>
        <tr>
            <th>By</th>
            <td>{{ vacancy.createdBy }}</td>
            <td>
                {% if expiredTime >= 17 %}
                    <p><span>Expired in Status</span></p>
                {% elseif expiredTime >= 12 %}
                    <p><span>Soon to expire</span></p>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="alert alert-danger text-center">
            {% if vacancy.status is null %}
                <p>Status:<span>Waiting for approval</span></p>
            {% else %}
                <p>Status: <span>{{ vacancy.status }}</span></p>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between link-recruiter">
        <a class="btn btn-primary" href="{{ path('vacancy_show', {'id': vacancy.id}) }}" >View Request Info &#8594;</a>
{#        <a class="btn btn-primary" href="{{ path('vacancy_show_history', {'id': vacancy.id}) }}">View Request history &#8594;</a>#}
    </div>
    <br>
    {% if vacancy.status == 'Search for a candidate(s) have been started' %}
        <p>
            Для продолжения работы над вакансией перейдите в окно работы над кандидатами. Начните с добавления кандидатов
            как только Вы получите отклик на вакансию. После добавления кандидатов начните работу над ними (активные кнопки
            под каждым кандидатом).
        </p>
    {% endif %}
    <br>
    {% if vacancy.status == 'Search for a candidate(s) have been started' %}
        <div class="text-center">
            <a class="btn btn-success" href="{{ path('vacancy_show_candidates', {'id': vacancy.id}) }}">
                View Candidates List
            </a>
        </div>
    {% else %}
    <div class="text-center">
        <a class="btn btn-success" href="{{ path('vacancy_link_new', {'id': vacancy.id}) }}">
            START WORK ON ISSUE
        </a>
    </div>
    {% endif %}
    <br>
    <br>
    <div class="fixed-bottom container">
        <div class="navbar bg-light d-flex justify-content-between">
            <div class="badge badge-success">
                assigned to:{{ vacancy.assignee }}
            </div>
            <div>
                <span class="badge badge-success">Approved</span>
                {{ vacancy.approveDate|date('Y-m-d') }}
                by {{ vacancy.approvedBy }}
            </div>
        </div>
    </div>

{% endblock %}