{% extends 'base.html.twig' %}

{% block title %}Vacancy{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Vacancies</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Request</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">View Request</li>
            <li class="breadcrumb-item active" aria-current="page">
                Candidate List for request #{{ vacancy.id }}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div>
            <a class="btn btn-primary" href="{{ path('vacancy_show_search_candidate', {'id': vacancy.id}) }}">
                Add new Candidate for Vacancy
            </a>
        </div>

        <table class="table mb-5" id="menu">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Applying position</th>
                <th>Location</th>
                <th>Phone</th>
                <th>Request Status</th>
                <th>Candidate Status</th>
                <th>Updated</th>
            </tr>
            </thead>
            <tbody>
            {% for candidateVacancy in vacancy.candidateVacancies %}
                {% if candidateVacancy.candidate.name != null %}
                    <tr>
                        {% if candidateVacancy.candidate.photo != null %}
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                    <img width="200px" height="200px" class="img-fluid " src="/uploads/{{ candidateVacancy.candidate.photo }}" alt="Photo">
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                    <img width="200px" height="200px" class="img-fluid" src="{{ asset('images/noPhoto.png') }}" alt="Photo">
                                </a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                 {{ candidateVacancy.candidate.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                {{ candidateVacancy.candidate.surname }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                {{ candidateVacancy.candidate.applyingPosition }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                {{ candidateVacancy.candidate.location }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                {{ candidateVacancy.candidate.phone }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                {{ vacancy.status }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                {{ candidateVacancy.candidateStatus }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('candidate_show', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                {{ candidateVacancy.candidate.updatedDate|date('Y-m-d') }}
                            </a>
                        </td>
                        {% if  app.request.get('edit') is not null%}
                            <td>
                                <a class="btn btn-primary" href="{{ path('check_interest_edit', {'id': candidateVacancy.id, 'vacancy': vacancy.id } ) }}">Edit</a>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th colspan="2">
                            <a class="btn btn-primary" href="{{ path('vacancy_show_history_in_vacancy', {'id': vacancy.id, 'candidateVacancy': candidateVacancy.id}) }}">
                                View candidate History
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">
                            {% if candidateVacancy.candidateStatus == 'CV Received'  %}
                                <a class="btn btn-primary" href="{{ path('check_interest',
                                    {'id': vacancy.id, 'candidateId': candidateVacancy.candidate.id}) }}">
                                    Check Candidate Interest
                                </a>
                            {% elseif candidateVacancy.candidateStatus == 'Candidate is interested in vacancy' %}
                                <span class="btn btn-secondary">
                                        Candidate is waiting for approval
                                </span>
                            {% elseif candidateVacancy.candidateStatus == 'Closed by recrutier' or candidateVacancy.candidateStatus == 'Closed by department manager' and candidateVacancy.candidateManagerDeny is not defined%}
                            {% elseif candidateVacancy.candidateStatus == 'Interview' %}
                                <a class="btn btn-primary" href="{{ path('candidate_after_interview_view_recruiter', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                    Interview
                                </a>
                            {% elseif candidateVacancy.candidateManagerDeny is not empty %}
                                {% if candidateVacancy.candidateStatus == 'Closed by department manager' and candidateVacancy.candidateManagerDeny.recruiterReported is null %}
                                    <a class="btn btn-primary" href="{{ path('candidate_after_interview_candidate_backfeed', {'id': candidateVacancy.candidate.id, 'vacancy': vacancy.id}) }}">
                                        Interview
                                    </a>
                                {% endif %}
                            {% elseif candidateVacancy.candidateStatus == 'Approved for the interview' %}
                                <a class="btn btn-primary" href="{{ path('interview_assign_data', {'id':vacancy.id, 'candidateVacancy': candidateVacancy.id}) }}">
                                    {% if candidateVacancy.dateInterview == null %}
                                        Set interview time
                                    {% else %}
                                        Edit interview time
                                    {% endif %}
                                </a>
                            {% endif %}
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
            {% for vacancyLink in vacancy.vacancyLinks %}
                {% for candidateLink in vacancyLink.candidateLinks %}
                    {% if candidateLink.candidate.name != null %}
                        <tr>
                            {% if candidateLink.candidate.photo != null %}
                                <td>
                                    <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                        <img width="200px" height="200px" class="img-fluid " src="/uploads/{{ candidateLink.candidate.photo }}" alt="Photo">
                                    </a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                        <img width="200px" height="200px" class="img-fluid" src="{{ asset('images/noPhoto.png') }}" alt="Photo">
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ candidateLink.candidate.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ candidateLink.candidate.surname }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ candidateLink.candidate.applyingPosition }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ candidateLink.candidate.location }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ candidateLink.candidate.phone }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ vacancy.status }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ candidateLink.candidateStatus }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('candidate_show', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                    {{ candidateLink.candidate.updatedDate|date('Y-m-d') }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <a class="btn btn-primary" href="{{ path('vacancy_show_history_in_vacancy', {'id': vacancy.id, 'candidateLink': candidateLink.id}) }}">
                                    View candidate History
                                </a>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="2">
                                {% if candidateLink.candidateStatus == 'CV Received' %}
                                    <a class="btn btn-primary" href="{{ path('check_interest_link',
                                        {'id': vacancy.id, 'candidateId': candidateLink.candidate.id}) }}">
                                        Check Candidate Interest
                                    </a>
                                {% elseif candidateLink.candidateStatus == 'Candidate is interested in vacancy' %}
                                    <span class="btn btn-secondary">
                                        Candidate is waiting for approval
                                    </span>
                                {% elseif candidateLink.candidateStatus == 'Closed by recrutier' or candidateLink.candidateStatus == 'Closed by department manager' and candidateLink.candidateManagerDeny is not defined %}
                                {% elseif candidateLink.candidateStatus == 'Interview' %}
                                    <a href="{{ path('candidate_after_interview_view_recruiter', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                        Interview
                                    </a>
                                {% elseif candidateLink.candidateManagerDeny is not empty %}
                                    {% if candidateLink.candidateStatus == 'Closed by department manager' and candidateLink.candidateManagerDeny.recruiterReported is null %}
                                        <a class="btn btn-primary" href="{{ path('candidate_after_interview_candidate_backfeed', {'id': candidateLink.candidate.id, 'vacancy': vacancy.id}) }}">
                                            Interview
                                        </a>FK_E85A1533AD5BEB7
                                    {% endif %}
                                {% elseif candidateLink.candidateStatus == 'Approved for the interview' %}
                                    <a class="btn btn-primary" href="{{ path('interview_assign_data', {'id':vacancy.id, 'candidateLink': candidateLink.id} ) }}">
                                        {% if candidateLink.dateInterview == null %}
                                            Set interview time
                                        {% else %}
                                            Edit interview time
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </th>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </main>
    <div class="fixed-bottom container">
        <div class="navbar bg-light d-flex justify-content-between">
            <div class="badge badge-success">
                assigned to you by:{{ vacancy.assignedBy }}
            </div>
            <div>
                <span class="badge badge-success">Date of assigning</span>
                {{ vacancy.assigneeDate|date('Y-m-d') }}
            </div>
        </div>
    </div>
{% endblock %}