{% extends 'base.html.twig' %}

{% block title %}Hello PhpDeveloperProfileController!{% endblock %}

{% block body %}
    <div class="row">
        <h3>Status:</h3>
    </div>
    <div class="row">

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PHP developer Lvl</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">PHP developer level: <span class="badge badge-info">{{ userLevel }}</span></p>
                    {#<a href="{{ path('php_developer_salary_raise') }}" class="card-link">Details</a>#}
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Manager</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    {% for developerManager in developerManagers %}
                        <p class="card-text">Your manager is: <span
                                    class="badge badge-info">{{ developerManager.username }}</span></p>
                    {% endfor %}
                    {#<a href="{{ path('php_developer_salary_raise') }}" class="card-link">Details</a>#}
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row"><h3>Information:</h3></div>
    <div class="row">

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Salary raise</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rise info</h6>
                    <p class="card-text">Click here if you want to take info about rise</p>
                    <a href="{{ path('php_developer_salary_raise') }}" class="card-link">Details</a>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SDT Request</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Make SDT request</h6>
                    <p class="card-text">If you want to take sdt request click here</p>
                    <a href="{{ path('sdt_new') }}" class="card-link">Make request</a>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Documentation</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Read documentation</h6>
                    <p class="card-text">Here you can read documentation</p>
                    <a href="https://docs.auto-toyz.com/documentation/" class="card-link">Details</a>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
        {#<div class="col-3">#}
            {#<div class="card">#}
                {#<div class="card-body">#}
                    {#<h5 class="card-title">Software request</h5>#}
                    {#<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>#}
                    {#<p class="card-text">Some text</p>#}
                    {#<a href="{{ path('sdt_new') }}" class="card-link">Make request</a>#}
                    {#<a href="#" class="card-link">Another link</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}
