{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" >{{ button_label|default('Save') }}</button>
    <a href="{{ path('sdt_index') }}" class="btn btn-secondary" role="button">back to list</a>
<script>
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        orientation: 'bottom',
        todayHighlight: true
    });
</script>
{{ form_end(form) }}
