{% extends 'sdt/teamplate.twig' %}

{% block title %}Sdt index{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('default') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sdt list</li>
    </ol>
    </nav>{% endblock %}
{% block body %}
    <h3>Information:</h3>
    <h4>Sdt left:{{ leftSdt }}</h4>
    <p></p>
    <a href="{{ path('sdt_new') }}" class="btn btn-primary" role="button">Create new</a>
    <a href="{{ path('sdt_view_all') }}" class="btn btn-primary" role="button">View All</a>
    <a href="{{ path('sdt_index') }}" class="btn btn-primary" role="button">Hide</a>
    <div id="calendar"></div>

    <script>
        $('#calendar').fullCalendar({events:{{ calendarEvents|raw }}, displayEventTime: false});
    </script>
{% endblock %}
