{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidates</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Location</th>
                <th>ContactInfo</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.position }}</td>
                <td>{{ candidate.location }}</td>
                <td>{{ candidate.contactInfo }}</td>
                <td>{{ candidate.date ? candidate.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('candidate_show', {'id': candidate.id}) }}">show</a>
                    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidate_new') }}">Create new</a>
{% endblock %}
