{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
<a class="btn" href="{{ path('user_php_developer_level_relation_new',{'id':user.id}) }}">Add PHP Level</a>
<a class="btn">Add PHP Manager</a>