{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <div>
        <a class="btn btn-primary" href="{{ path('user_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Full name</th>
            <th>Position</th>
            <th>Team</th>
            <th>Office</th>
            <th>Work Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% if user.userInfo != null  %}
                    {% if user.userInfo.photo is not null %}
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">
                                <img width="200px" height="200px" src="/uploads/{{ user.userInfo.photo }}" alt="Photo">
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">
                                <img width="200px" height="200px" src="{{ asset('images/noPhoto.png') }}" alt="Photo">
                            </a>
                        </td>
                    {% endif %}
                {% else %}
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">
                            <img width="200px" height="200px" src="{{ asset('images/noPhoto.png') }}" alt="Photo">
                        </a>
                    </td>
                {% endif %}
                <td>{{ user.name }}</td>
                {% if  user.userInfo != null %}
                    <td>{{ user.userInfo.position }}</td>
                {% endif %}
                <td>{{ user.team.name}}</td>
                <td>{{ user.team.department.office.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
