{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        {% if user.phpDeveloperLevelRelation %}
            <tr>
                <th>Php Developer Level</th>
                <td>{{ user.phpDeveloperLevelRelation.phpDeveloperLevel.title }}</td>
            </tr>
        {% endif %}
        {% for relation in user.phpDeveloperManagerRelations %}
            <tr>
                <th>Php Developer Manager</th>
                <td>{{ relation.manager.email }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if user.phpDeveloperLevelRelation is null %}
        <a class="btn" href="{{ path('user_php_developer_level_relation_new',{'id':user.id}) }}">Add PHP Level</a>
    {% endif %}
    <a class="btn" href="{{ path('php_developer_manager_relation_new',{'id':user.id}) }}">Add PHP Manager</a>
    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
